<div class="posts">
  <h1 class="content-subhead"><%= @role.name %></h1>

  <h2>Editing Role</h2>

  <%= render 'form' %>

  <%= link_to t('commands.show'), @role %> |
  <%= link_to t('commands.back'), roles_path %>
</div>
