<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @role.active %>
</p>

<%= link_to t('commands.edit'), edit_role_path(@role) %> |
<%= link_to t('commands.back'), roles_path %>
